/* Apply basic reset to ensure consistent styling across browsers */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #000; /* Sets a black background should go with  matix theme */
    background-image: url('../images/MatrixFortetris.png'); /* Path to your image */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
}

/* Center the canvas and game content in the middle of the page */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff; /* White text color for better contrast */
}

.info {
    color: rgb(217, 11, 148);
    margin-top: 100px;
    margin-left: 37%;
}
/* Style the canvas to give it a more game-like appearance */
#gameCanvas {
    border: 1px solid #fff; /* White border around the canvas */
    background-color: #222; /* Dark background for the game area */
}

/* Styling for navigation links */
.resume-item {
    margin: 10px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #333; /* Dark background for the links */
    color: #fff; /* White text color */
    border-radius: 5px; /* Rounded corners for the buttons */
    transition: background-color 0.3s ease-in-out;
}

.tetris-item:hover {
    background-color: #555; /* Lighter background on hover */
}

#controls button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

#controls {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.left-side {
    color: #fff;
    width: 250px;
    position: absolute;
    left: 10px; 
    top: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #333;
}

.left-side button {
    display: block;
    margin-top: 10px;
    width: 100%;
}
